<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <link rel="stylesheet" href="{% static 'my_blog/css/pure-min.css' %}" type="text/css" media="all">
  <link rel="stylesheet" href="{% static 'my_blog/css/grids-responsive-min.css' %}" type="text/css" media="all">
<!--[if lte IE 8]>
<link rel="stylesheet" href="{% static 'my_blog/css/blog-old-ie.css' %}">
<![endif]-->
<!--[if gt IE 8]><!-->
<link rel="stylesheet" href="{% static 'my_blog/css/blog.css' %}">
<!--<![endif]-->
  <title>livevilwt's blog</title>
<style>
#logo{
    width:110px;
    height:110px;
    border:4px solid #ddddde;
    -moz-border-radius: 59px;
    -webkit-border-radius: 59px;
    border-radius:59px;
    behavior:url(PIE.htc);
    position:relative;
}
</style>
</head>

<body>
<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <div class="logo">
                  <a href="/" rel="home"><img src="{% static 'my_blog/img/logo.jpg' %}" alt="" id="logo"></a>
            </div>
            <h1 class="brand-title">lwt's blog</h1>
            <h2 class="brand-tagline">Powered by Django 1.6</h2>

            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="/blog/contact">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% block content %}

{% endblock content %}
</div>
</body>
</html>
