{% extends 'my_blog/blog_base.html' %}
{% block content %}
    <div class="grid clr">
	{% for blogpost in blogposts %}
        <article id="post-783" class="loop-entry">
            <div class="loop-entry-details">
                <header><h2><a href="{{blogpost.get_absolute_url}}">{{ blogpost.title }}</a></h2></header>
		<p>{{ blogpost.add_date }}</p>
                <div class="loop-entry-excerpt">
                	{% for tag in blogpost.tags.all %}
			<li>{{tag}}</li>
			{% endfor %}
                </div>
            </div>
        </article>
	{% endfor %}
   </div>
    	{% if blogposts.object_list and blogposts.paginator.num_pages > 1 %}
          <div>
          <ul class="pager">
          {% if blogposts.has_previous %}
            <li><a href="?page={{ blogposts.previous_page_number }}">上一页</a></li>
          {% endif %}

          {% if blogposts.has_next %}
            <li><a href="?page={{ blogposts.next_page_number }}">下一页</a></li>
          {% endif %}
          </ul>
          </div>
        {% endif %}
{% endblock content %}
