<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <title>livevilwt's blog</title>
  <script src="{% static 'my_blog/123.js' %}"></script>
  <meta charset="utf-8"/>
</head>
<body>
	{% for blogpost in blogposts %}
		<a href="{{blogpost.get_absolute_url}}"><h1>{{ blogpost.title }}</h1></a>
		{% for tag in blogpost.tags.all %}
			<li>{{tag}}</li>
		{% endfor %}
	{% if blogposts.object_list and blogposts.paginator.num_pages > 1 %}
          <div>
          <ul class="pager">
          {% if blogposts.has_previous %}
            <li><a href="?page={{ blogpost.previous_page_number }}">上一页</a></li>
          {% endif %}

          {% if blogposts.has_next %}
            <li><a href="?page={{ blogpost.next_page_number }}">下一页</a></li>
          {% endif %}
          </ul>
          </div>
        {% endif %}
	{% endfor %}
</body>
</html>
